* {
    box-sizing: border-box;
  }

  .chara_wrapper{
    height: 100vh;
  }

  h1{
    margin: 70px auto 50px;
    text-align: center;
    letter-spacing: 0.5em;;
    font-size: 36px;
    
      font-family: "Poetsen One", sans-serif;
      font-weight: 400;
      font-style: normal
    
  }

  table{
    width: 60%;
    margin: 40px auto 30px;
  } 

  tr{
    justify-content: space-between;
    /*display: flex;*//*ON:サイズ変更なし：大きさ固定 OFF:サイズ変更あり、一列固定*/
    flex-wrap: wrap;

  }
  .chara_icon{
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 6px auto 0;

    
}

.chara_icon img{
  /*参考URL:https://photoshopvip.net/144266#tip12*/
  aspect-ratio: 3/2;/*サイズ揃える*/
  object-fit:contain;
}
.chara{
    width: 60%;
    margin: 0 auto;
    
  
}
.chara img{

    display: block; margin: auto;

}

.chara_list .current{
  transform: scale(1.3);
 /* padding: 0 10% 0 10%;
 */
  top:-0.2em;
}
.chara_list .current a {
  pointer-events: none; /* 押してもリンクさせない */
}
/*
.chara_icon{
    float: none;
    background: none;
    border: none;
    width: calc(100% / 7);
    margin: 0;
}
*/




/*キャラクター説明ボックスのデザイン*/
.chara_box {
  position: relative;
  display: flex;
width:100%;
border-radius: 0 0px 50px 50px;
/*height:800px;*/
/*グラデーション生成*/
/*https://cssgradient.io/*/

margin-top: 110px;
}
.c_mashiro{
  background: rgb(134,152,172);
  background: linear-gradient(159deg, rgba(134,152,172,1) 0%, rgba(109,129,164,1) 58%, rgba(105,98,136,1) 100%);
}
.c_tobitani{
  background: rgb(233,217,180);
background: linear-gradient(159deg, rgba(233,217,180,1) 0%, rgba(185,168,123,1) 58%, rgba(190,151,90,1) 100%);

}
.c_p_tobitani{
  left:30px;
}
.c_nanase{
  background: rgb(195,161,161);
  background: linear-gradient(159deg, rgba(195,161,161,1) 0%, rgba(166,122,122,1) 47%, rgba(143,76,76,1) 100%);

}
.c_simozukis{
  background: rgb(150,127,115);
  background: linear-gradient(159deg, rgba(150,127,115,1) 0%, rgba(147,121,109,1) 58%, rgba(180,118,90,1) 100%);

}

.c_momoe{
  background: rgb(134,152,172);
  background: linear-gradient(159deg, rgba(134,152,172,1) 0%, rgba(134,167,224,1) 58%, rgba(89,142,204,1) 100%);
}

.c_mashiro:before{
  background: rgb(134,152,172);
}
.c_tobitani:before{
  background: rgb(233,217,180);
}
.c_nanase:before{
  background: rgb(195,161,161);
}
.c_momoe:before{
  background: rgb(134,152,172);
}
.c_simozukis:before{
  background: rgb(150,127,115);
}
.chara_box:before{
  content: "Senmon Gakusei";
  text-align: center;
  vertical-align: middle;
  width: 47%;
  height: 60px;
  font-size: clamp(12px, calc(1.25vw + 14px), 26px);
  font-weight: bold;
  color: #ffffff;
  /*background-color: rgb(127, 67, 67);*//*c_{chara名}で適用*/
  position: absolute;
  top: -60px;
  left: calc(100% - 47%);
  border-radius: 40px 40px 0 0;
  line-height: clamp(1.0em, calc(1.25vw + 2.5em), 2.5em);;

  font-weight: 200;
  letter-spacing: 0.3em;
}




.chara_pic {
  position: relative;
width:60%;
/*height:800px;*/

}
.chara_pic img{
  position: relative;
  top:-170px;
}

.chara_txt {
  position: relative;
width:60%;
/*height:800px;*/
/*background-color: rgb(157, 88, 88);*/
}

.text {

}

.chara_head {
  position: relative;
  display: flex;
  flex-direction: column;
/*width:60%;*/
/*height:200px;*/
color:aliceblue;
  margin-top: 8%;;
}



.c_mashiro {

}

.chara_head_name_kana {
  width:80%;

}

.chara_head_lines {

}

.chara_desc_txt{
  font-size: 28px;
  color: aliceblue;
}

.horizon{
 /* border-style: dotted;
  border: 1px;*/
  border-bottom: 4px dotted #ffffff;
  margin:5px 10% 0 0 ;
}

@media screen and (max-width:479px){
  .chara_box{
    display:block;
    /*flex-direction: block;*/
 
  }
  .chara_box:before{
    line-height: 1.5em;
  }

  .chara_pic{
    width: 100%;;
    top:100px;
  }
  .chara_txt{
    width:100%;
    top:-100px;
    padding:0 5%;
  }
  .chara_desc_txt{
    font-size:18px;
  }
}