* {
    box-sizing: border-box;
  }

  .chara_wrapper{
    height: 100vh;
  }

  .chara_syoukai_wrap{
    height: 60vh;
  }
  .chara_syokai_contain{
    height: 60vh;
  }

  .chara_item_wrap{
    height: 60vh;
  }
  .chara_list_wrap{
    height:20vh;
  }
  img{
    max-width: 100%;
    height: auto;
    }
  h1{
    height: 20vh;
    margin: 10px auto 10px;
    text-align: center;
    letter-spacing: 0.5em;;
    /*VWが有効な場合、VW、無効な場合px)*/
    font-size: 36px;  /**/
    font-size: 4.0vw; /*有効な場合上書きされる*/
    
      font-family: "Poetsen One", sans-serif;
      font-weight: 400;
      font-style: normal
    
  }

  table{
    width: 60%;
    margin: 0px auto 30px;
  } 

  tr{
    justify-content: space-between;
    /*display: flex;*//*ON:サイズ変更なし：大きさ固定 OFF:サイズ変更あり、一列固定*/
    flex-wrap: wrap;

  }
  .chara_icon{
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 6px auto 0;

    
}

.chara_icon img{
  /*参考URL:https://photoshopvip.net/144266#tip12*/
  aspect-ratio: 3/2;/*サイズ揃える*/
  object-fit:contain;
}
.chara{
    width: 60%;
    margin: 0 auto;
    
  
}
.chara img{

    display: block; margin: auto;

}

.chara_list .current{
  transform: scale(1.3);
 /* padding: 0 10% 0 10%;
 */
  top:-0.2em;
}
.chara_list .current a {
  pointer-events: none; /* 押してもリンクさせない */
}
/*
.chara_icon{
    float: none;
    background: none;
    border: none;
    width: calc(100% / 7);
    margin: 0;
}
*/