/*========= ナビゲーションのためのCSS ===============*/

#g-nav {
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position: fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
    top: 0;
    right: -120%;
    width: 100%;
    height: 100vh;
    /*ナビの高さ*/
    background: #999;
    /*動き*/
    transition: all 0.6s;
    background: rgba(107, 44, 44, 0.7);
    /*背景を少し透過させる*/
    padding: 200px 0;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive {
    right: 0;
    opacity: 1;
    z-index: 999;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list {
    /*ナビの数が増えた場合縦スクロール*/
    /*position: fixed;*/
    z-index: 999;
    width: 100%;
    height: 100vh;
    /*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*========= ボタンのためのCSS ===============*/
@media screen and (max-width:479px) {


    .openbtn1 {
        position: fixed;
        z-index: 9999;
        /*ボタンを最前面に*/
        top: 10px;
        right: 10px;
        cursor: pointer;
        width: 50px;
        height: 50px;
    }

    /*×に変化*/
    .openbtn1 span {
        display: inline-block;
        transition: all .4s;
        position: absolute;
        left: 14px;
        height: 3px;
        border-radius: 2px;
        background-color: #666;
        width: 45%;
    }

    .openbtn1 span:nth-of-type(1) {
        top: 15px;
    }

    .openbtn1 span:nth-of-type(2) {
        top: 23px;
    }

    .openbtn1 span:nth-of-type(3) {
        top: 31px;
    }

    .openbtn1.active span:nth-of-type(1) {
        top: 18px;
        left: 18px;
        transform: translateY(6px) rotate(-45deg);
        width: 30%;
    }

    .openbtn1.active span:nth-of-type(2) {
        opacity: 0;
    }

    .openbtn1.active span:nth-of-type(3) {
        top: 30px;
        left: 18px;
        transform: translateY(-6px) rotate(45deg);
        width: 30%;
    }

}


/*ナビゲーション*/


/*リストのレイアウト設定*/

#g-nav li {
    list-style: none;
    text-align: center;
}

#g-nav li a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
}

/**
 * headerNav
 */
.headerNavLists__item {
    width: 340px;

    display: inline-block;
    padding-right: 9.334%;
    position: relative;
    margin-bottom: 5.6667%;
    pointer-events: none;
    z-index: 2;
}

.navLink {
    display: inline-block;
    width: 100%;
    position: relative;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 4px solid #D94343;
    border-left-width: 0px;
    color: #D94343;
    padding: 12px 0 0px 20px;
    font-size: 18px;
    /*line-height: 1;*/
    letter-spacing: -0.05em;
    text-decoration: none;
    position: relative;
    background-color: #fff;
    transition: .3s ease;
    pointer-events: auto;
}

.navLink:before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -3px;
    bottom: -3px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 3px 3px #D94343;
}

.navLink:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #D94343;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: .3s ease;
    z-index: 1;
}

.headerNavLists__item:hover a {
    color: #fff;
}

/*
.navLink:hover::after,
.headerNavLists__item.is-active .navLink:after {
    width: 100%;
}

.navLink:hover,
.headerNavLists__item.is-active .navLink {
    color: #926453;
}

*/


/** NAV偶数 **/
.headerNavLists__item:nth-of-type(even) .navLink {
    border-color: #568C6D;
    color: #568C6D;
}

.headerNavLists__item:nth-of-type(even) .navLink:before {
    box-shadow: 2px 2px #568C6D;
}



.headerNavLists__item:nth-of-type(even) .navLink:after,
.headerNavLists__item:nth-of-type(even) .navLink.is-active:after {
    /*color:#fff;*/
    background-color: #78ac89;
    /*-index: 1;*/
}

.headerNavLists__item:nth-of-type(even) .navLink:hover,
.headerNavLists__item.is-active:nth-of-type(even) .navLink {
    color: #FFF;
}



.headerNav {
    position: relative;
    z-index: 1;
}



.headerNavLists__item:before {
    max-width: 120px;
    max-height: 56px;
    width: 16vw;
    height: 7.466vw;
    top: calc(50% - 3.733vw);
    right: 0.6667vw;
}

/*.navLink{
        border-width: 0.5334vw;
        border-left-width: 0px;
        font-size: 4.5334vw;
        padding: 2.6667vw 0 2.6667vw 8.5334vw;
        pointer-events: auto;
    }
    */
.navLink:before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -3px;
    bottom: -3px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 3px 3px #D94343;
}

.navLink:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #D94343;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: .3s ease;
}

.navLink:hover::after,
.headerNavLists__item.is-active .navLink:after {
    width: 100%;
}

/*
.navLink:hover,
.headerNavLists__item.is-active .navLink {
    color: #926453;
}
*/
.header.is-active .navLink {
    pointer-events: auto;
}

.navTxt span {
    font-size: 3.2vw;
}

@media screen and (min-width:480px) {
    /*PCサイズの場合はハンバーガーメニューにしない*/
}

/**
* navBtn
*/
@media screen and (max-width:767px) {

    .header__navBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: relative;
    }
}


/*PC-nav要素ごとに回転を加える*/
.kaiten li{
    transform-origin: center;
    transform: rotate(-12.5deg);
   }

/*PCの場合*/
.pc-nav {
    display: none;
    /*animation: fadeIn 0.5s ease 0.2s 1 normal backwards;*/
    transition: 1s;
 
  /*  transform: translateX(-20px);*/
}

 .kaiten li{
  transform-origin: center;
  transform: rotate(-12.5deg);
 }

.pc-nav li:first-child {
    animation: fadeIn 1s ease-out 0.3s 1 normal backwards;
  }
  .pc-nav li:nth-child(2) {
    animation: fadeIn 1.2s ease-out 0.5s 1 normal backwards;
  }
  .pc-nav li:nth-child(3) {
    animation: fadeIn 1.4s ease-out 0.7s 1 normal backwards;
  }
  .pc-nav li:nth-child(4) {
    animation: fadeIn 1.6s ease-out 0.9s 1 normal backwards;
  }
  .pc-nav li:nth-child(5) {
    animation: fadeIn 1.8s ease-out 1.1s 1 normal backwards;
  }
  .pc-nav li:nth-child(6) {
    animation: fadeIn 2.0s ease-out 1.3s 1 normal backwards;
  }

.two-column {
    display: flex;
    height: 1200px;
    height: 1300px;
    /*PC版navとkeyvisualの高さを設定する*/
}

.bg-green{

    height: inherit;
    position: relative;
  
 
}

/*背景だけ乗算効果を与える*/
/*https://note.com/mitsuru_h_cc/n/n379e3ffabf94*/
.bg-green:before{
    display:block;
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: #568C6D;
    mix-blend-mode:multiply;
    opacity: 0.8;
  }

  .bg-green:before {
    padding: 10px;
    animation: fadeIn 0.8s ease 0.5s 1 normal backwards;
  }
   
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
@media screen and (min-width:767px) {
    .pc-nav {
        /* background-color: #568C6D;*/
        /*適応範囲確認用*/
        display: inline-block;
        height: inherit;
    }

    .pc-nav {
        width: 30% !important;
        padding-top: 15%;
    }

    .key-visual{
        display: flex;
        width: 70%;
    }

    main {
        width: 70% !important;
        margin: none !important;
        position: relative !important;
    }

    /*navの文字まわり設定*/
    .pc-nav-div li a {
        color: #333;
        text-decoration: none;
        padding: 10px;
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: bold;
    }

}

.navTxt{
    position: relative;
    z-index: 2;
}
.navTxt span{
    font-size: 14px;
    padding-left: 8px;
}